<!DOCTYPE html>
<html>

<head>
  <title>Monitoring System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <!-- CSS Libs -->
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/animate.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/checkbox3.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/select2.min.css" rel="stylesheet" type="text/css"/>
  <!-- CSS App -->
  <!--<link rel="stylesheet" type="text/css" href="../../css/style.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/style.css" rel="stylesheet" type="text/css"/>
  <!--<link rel="stylesheet" type="text/css" href="../../css/themes/flat-blue.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/themes/flat-blue.css" rel="stylesheet" type="text/css"/>
  <script src="../jquery-1.8.3.min.js" type="text/javascript"></script>

  <script type="text/javascript">
  // var numNode = 1;
  var listNode = ['esl-openwrt', 'esl-yun1'];
  var jsonClientsLink = "http://192.168.106.17:8080/output/3jZmxE01ElIKwXmAbv2WTql0mwrL.json";
  var mainTitle = ['Wifi Client Scan : OpenWrt Node 1', 'Wifi Client Scan : OpenWrt Node 2'];
  var data;
  var dataClientMin = [];
  var dataClientMed = [];
  var dataClientMax = [];
  var data_x = [];
  var period = 14*60*1000;
  var periodMax = 2*60*60*1000;
  var numChartData = 12;
  // var clients = [[]];

  var chart = [];
  $(function () {
    $('#client1').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: mainTitle[0]
      },
      xAxis: {
        title: {
          text: "Period Scanning Time"
        },
      },
      yAxis: {
        min: 0,
        maxPadding: 0.5,
        title: {
          text: "Number of Clients"
        },
        stackLabels: {
          enabled: true,
          style: {
            fontSize: "14px",
            fontWeight: 'bold',
            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
          }
        }
      },
      legend: {
        align: 'right',
        x: 0,
        verticalAlign: 'top',
        y: 30,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
      },
      tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
        column: {
          stacking: 'normal',
          dataLabels: {
            enabled: true,
            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
            style: {
              fontSize: "14px",
              // textShadow: '0 0 4px black'
            }
          }
        },
      },
      series: [{
        name: 'RSSI -60 to -100 dBm(Weak)',
        color: '#E54A32'
        // data: [3, 4, 4, 2, 5]
      }, {
        name: 'RSSI -30 to -60 dBm(Medium)',
        color: '#F5C333'
        // data: [2, 2, 3, 2, 1]
      },{
        name: 'RSSI 0 to -30 dBm(Strong)',
        color: '#5BB69A'
        // data: [5, 3, 4, 7, 2]
      }]
    });
  });
  $(function () {
    $('#client2').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: mainTitle[1]
      },
      xAxis: {
        title: {
          text: "Period Scanning Time"
        },
      },
      yAxis: {
        min: 0,
        maxPadding: 0.5,
        title: {
          text: "Number of Clients"
        },
        stackLabels: {
          enabled: true,
          style: {
            fontSize: "14px",
            fontWeight: 'bold',
            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
          }
        }
      },
      legend: {
        align: 'right',
        x: 0,
        verticalAlign: 'top',
        y: 30,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
      },
      tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
        column: {
          stacking: 'normal',
          dataLabels: {
            enabled: true,
            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
            style: {
              fontSize: "14px",
              // textShadow: '0 0 3px black'
            }
          }
        }
      },
      series: [{
        name: 'RSSI -60 to -100 dBm(Weak)',
        color: '#E54A32'
        // data: [3, 4, 4, 2, 5]
      }, {
        name: 'RSSI -30 to -60 dBm(Medium)',
        color: '#F5C333'
        // data: [2, 2, 3, 2, 1]
      },{
        name: 'RSSI 0 to -30 dBm(Strong)',
        color: '#5BB69A'
        // data: [5, 3, 4, 7, 2]
      }]
    });
  });

  function draw(){
    var startHour = [];
    for(var i = 0; i < listNode.length; i++){
      dataClientMin[i] = [];
      dataClientMed[i] = [];
      dataClientMax[i] = [];
      data_x[i] = [];
      startHour[i] = [];
      var idChart = "#client"+(i+1);
      chart [i] = $(idChart).highcharts();
      var count = 0;
      var countClient = 0;
      var listClientMin = [];
      var listClientMed = [];
      var listClientMax = [];
      // var countClient = [];
      for(var j = 0; j<data.length; j++){

        var date = new Date(Date.UTC(data[j].timestamp.substr(0, 4), parseInt(data[j].timestamp.substr(5, 2)) - 1, data[j].timestamp.substr(8, 2), data[j].timestamp.substr(11, 2), data[j].timestamp.substr(14, 2), data[j].timestamp.substr(17, 2)));
        if(startHour[i][count] === undefined){
          startHour[i][count] = date.getTime();
        }
        data_x[i][count] = date.getDate() + '-' + (date.getMonth() + 1) + '/' + date.getHours() + ':' + date.getMinutes();
        if(data[j].dev_id === listNode[i]){
          if (startHour[i][count] - date.getTime() >= 0 && startHour[i][count] - date.getTime() <= period) {
            // console.log(data[j].rssi);

            if(parseInt(data[j].rssi) < -60){
              if(listClientMax.indexOf(data[j].mac) === -1){
                listClientMax.push(data[j].mac);
              }
            }else if(parseInt(data[j].rssi) < -30){
              if(listClientMed.indexOf(data[j].mac) === -1){
                listClientMed.push(data[j].mac);
              }
            }else {
              if(listClientMin.indexOf(data[j].mac) === -1){
                listClientMin.push(data[j].mac);
              }
            }
          }else if(count < numChartData){
            // console.log(countClient);
            // if(listClientMin.length != 0)
            dataClientMin[i][count] = listClientMin.length;
            // else
            // dataClientMin[i][count] = 0.5;
            while(listClientMin.length > 0){
              listClientMin.pop();
            }

            dataClientMed[i][count] = listClientMed.length;
            while(listClientMed.length > 0){
              listClientMed.pop();
            }

            dataClientMax[i][count] = listClientMax.length;
            while(listClientMax.length > 0){
              listClientMax.pop();
            }
            count++;
          }
        }else{
          break;
        }
      }
      // console.log(dataClientMed[i]);
      chart[i].xAxis[0].setCategories(data_x[i]);
      chart[i].series[2].setData(dataClientMin[i]);
      chart[i].series[1].setData(dataClientMed[i]);
      chart[i].series[0].setData(dataClientMax[i]);
      chart[i].hideLoading();
    }
  }

  function update(){
    for(var i = 0; i < listNode.length; i++){
      var chartId = "#client"+(i+1);
      chart[i] = $(chartId).highcharts();
      // console.log(chart[i].series.data);
      if(chart[i].series[0].data.length === 0){
        chart[i].showLoading();
      }
    }
    $.getJSON(jsonClientsLink, function(){

    })
    .done(function (json) {
      data = json;
      // console.log(data);
      draw();
    });
  }
  // function clearList(list){
  //   while(list.length > 0){
  //     list.pop();
  //   }
  // }
  setInterval(update, 18000);
  </script>
</head>

<body class="flat-blue" onload="update()">
  <div class="app-container">
    <div class="row content-container">
      <nav class="navbar navbar-default navbar-fixed-top navbar-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
              <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
              <li class="active">Clients Scan</li>
            </ol>
          </div>
        </div>
      </nav>
      <div class="side-menu sidebar-inverse">
        <nav class="navbar navbar-default" role="navigation">
          <div class="side-menu-container">
            <div class="navbar-header">
              <a class="navbar-brand" href="../#">
                <div class="icon fa fa-television"></div>
                <div class="title">Monitoring System</div>
              </a>
              <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
              </button>
            </div>
            <ul class="nav navbar-nav">
              <li class="">
                <a href="index.html">
                  <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                </a>
              </li>
              <li class="">
                <a href="wifiscan.html">
                  <span class="icon fa fa-wifi"></span><span class="title">Wifi scan</span>
                </a>
              </li>
              <li class="active">
                <a href="client.html">
                  <span class="glyphicon glyphicon-user icon"> </span><span class="title">Clients scan</span>
                </a>
              </li>
              <li class="">
                <a href="pingtest.html">
                  <span class="icon fa fa-server"></span><span class="title">Ping testing</span>
                </a>
              </li>
              <li class="">
                <a href="environment.html">
                  <span class="icon fa fa-home"></span><span class="title">Room Monitoring </span>
                </a>
              </li>
              <li class="">
                <a href="">
                  <span class="icon fa fa-bell-o"></span><span class="title">Alarm System</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Main Content -->
      <div class="container-fluid">
        <div class="side-body padding-top">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="client1" style="margin: auto;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="client2" style="margin: auto;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="app-footer">
    <div class="wrapper">
      <span class="pull-right"><a href="../#"><i class="fa fa-long-arrow-up"></i></a></span> © 2016 ESL@KMUTNB.
    </div>
  </footer>
  <!-- Javascript Libs -->
  <!-- ๋ฆ App -->
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/Chart.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.matchHeight-min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/select2.full.min.js" type="text/javascript"></script>
  <!-- Javascript -->
  <!--<script type="text/javascript" src="../../js/app.js"></script>-->
  <script src="../flat-admin-bootstrap-templates-master/js/app.js" type="text/javascript"></script>
  <!--<script type="text/javascript" src="../../js/index.js"></script>-->
  <script src="../flat-admin-bootstrap-templates-master/js/index.js" type="text/javascript"></script>
  <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
  <!-- chart lib -->
  <script src="../chart/Highcharts-4.2.1/js/highcharts.js" type="text/javascript"></script>
  <script src="../chart/Highcharts-4.2.1/js/modules/exporting.js" type="text/javascript"></script>
</body>

</html>
