<!DOCTYPE html>
<html>

<head>
  <title>Monitoring System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <!-- CSS Libs -->
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/animate.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/checkbox3.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/select2.min.css" rel="stylesheet" type="text/css"/>
  <!-- CSS App -->
  <!--<link rel="stylesheet" type="text/css" href="../../css/style.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/style.css" rel="stylesheet" type="text/css"/>
  <!--<link rel="stylesheet" type="text/css" href="../../css/themes/flat-blue.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/themes/flat-blue.css" rel="stylesheet" type="text/css"/>
  <script src="../jquery-1.8.3.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script type="text/javascript">
    var jsonEnvironmentLink = "http://192.168.106.17:8080/output/6W0EQ3VwqZuq2eyk2AYpIO8lWkv.json?limit=500";
    var dataJson;
    var countShow = 0;
    var hide = {"temperature":"none", "humidity":"none", "light":"none", "pressure":"none"}
    var mobileChart = {"LinkIt-2-temperature":"none", "LinkIt-2-humidity":"none", "LinkIt-2-light":"none", "LinkIt-2-pressure":"none"}
    // init chart
    $(function () {
      $('#chart-main').highcharts({
        title:{
          text: 'History',
          x: -20
        },
        xAxis:{
          text: "time"
        },
        yAxis:{
          title: {
            text: ''
          }
        },
        series: [{
            name: 'temperature',
            data:[]
            // data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'humidity',
            data:[]
            // data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'light',
            data:[]
            // data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'pressure',
            data:[]
            // data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
          // series : [
          //   {
          //     name : temperature
          //   },
          //   {
          //     name : humidity
          //   },
          //   {
          //     name : light
          //   },
          //   {
          //     name : pressure
          //   }
          // ]
      })
    });

    $(function () {
      $('#LinkIt-2-temperature').highcharts({
        title:{
          text: 'History temperature',
          x: -20
        },
        xAxis:{
          text: "time"
        },
        yAxis:{
          title: {
            text: 'Temperature (°C)'
          }
        },
        series: [{
            name: 'temperature',
            data:[]
            // data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
      })
    });

    $(function () {
      $('#LinkIt-2-humidity').highcharts({
        title:{
          text: 'History humidity',
          x: -20
        },
        xAxis:{
          text: "time"
        },
        yAxis:{
          title: {
            text: 'Relative Humidity (%)'
          }
        },
        series: [{
            name: 'humidity',
            data:[]
            // data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
      })
    });

    $(function () {
      $('#LinkIt-2-light').highcharts({
        title:{
          text: 'History light',
          x: -20
        },
        xAxis:{
          text: "time"
        },
        yAxis:{
          title: {
            text: 'Lux'
          }
        },
        series: [{
            name: 'light',
            data:[]
            // data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
      })
    });

    $(function () {
      $('#LinkIt-2-pressure').highcharts({
        title:{
          text: 'History pressure',
          x: -20
        },
        xAxis:{
          text: "time"
        },
        yAxis:{
          title: {
            text: 'hPa'
          }
        },
        series: [{
            name: 'pressure',
            data:[]
            // data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
      })
    });

    function update(){
      $.getJSON(jsonEnvironmentLink, {})
      .done(function (json) {
        // for (var i = 0; i < json.length; i++) {
          document.getElementById(json[0].dev_id+'-temperature').innerHTML = json[0].temperature+'°c';
          document.getElementById(json[0].dev_id+'-humidity').innerHTML = json[0].humidity+'%';
          document.getElementById(json[0].dev_id+'-light').innerHTML = json[0].light+'lux';
          document.getElementById(json[0].dev_id+'-pressure').innerHTML = (json[0].pressure)+'hPa';
        // }
        data = json;
        drawAll();
      });
    }

    function drawAll(){
      // document.getElementById('chart-main');
      var chart_main = $('#chart-main').highcharts();
      var chart_temperature = $('#LinkIt-2-temperature').highcharts();
      var chart_humidity = $('#LinkIt-2-humidity').highcharts();
      var chart_light = $('#LinkIt-2-light').highcharts();
      var chart_pressure = $('#LinkIt-2-pressure').highcharts();
      var count = 0;
      var data_x = [];
      var data_temperature = [];
      var data_humidity = [];
      var data_light = [];
      var data_pressure = [];
      for(var i = data.length-1; i >= 0; i--){
        var date = new Date(Date.UTC(data[i].timestamp.substr(0, 4), parseInt(data[i].timestamp.substr(5, 2)) - 1, data[i].timestamp.substr(8, 2), data[i].timestamp.substr(11, 2), data[i].timestamp.substr(14, 2), data[i].timestamp.substr(17, 2)));
        data_x[count] = date.getDay() + '-' + (date.getMonth() + 1) + '/' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();

        // data_temperature[count] =
        console.log(date);
        data_temperature[count] = parseFloat(data[i].temperature);
        data_humidity[count] = parseFloat(data[i].humidity);
        data_light[count] = parseFloat(data[i].light);
        data_pressure[count] = parseFloat(data[i].pressure);
        count++;
      }
      chart_main.xAxis[0].setCategories(data_x);
      // chart_temperature.xAxis[0].setCategories(data_x);
      // chart_humidity.xAxis[0].setCategories(data_x);
      // chart_light.xAxis[0].setCategories(data_x);
      // chart_pressure.xAxis[0].setCategories(data_x);

      chart_main.series[0].setData(data_temperature);
      // chart_temperature.series[0].setData(data_temperature);

      chart_main.series[1].setData(data_humidity);
      // chart_humidity.series[0].setData(data_humidity);

      chart_main.series[2].setData(data_light);
      // chart_light.series[0].setData(data_light);

      chart_main.series[3].setData(data_pressure);
      // chart_pressure.series[0].setData(data_pressure);
    }

    function chart(type){
      if(document.getElementById(type+'-sub').innerHTML === "Show History"){
        document.getElementById(type+'-sub').innerHTML = "Hide History";
        countShow++;
      } else {
        countShow--;
        document.getElementById(type+'-sub').innerHTML = "Show History";
      }
    }
    setInterval(update, 5000);
  </script>
</head>

<body class="flat-blue" onload="update()">
  <div class="app-container">
    <div class="row content-container">
      <nav class="navbar navbar-default navbar-fixed-top navbar-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
              <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
              <li class="active">Room Monitoring</li>
            </ol>
          </div>
        </div>
      </nav>
      <div class="side-menu sidebar-inverse">
        <nav class="navbar navbar-default" role="navigation">
          <div class="side-menu-container">
            <div class="navbar-header">
              <a class="navbar-brand" href="../#">
                <div class="icon fa fa-television"></div>
                <div class="title">Monitoring System</div>
              </a>
              <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
              </button>
            </div>
            <ul class="nav navbar-nav">
              <li class="">
                <a href="index.html">
                  <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                </a>
              </li>
              <li class="">
                <a href="wifiscan.html">
                  <span class="icon fa fa-wifi"></span><span class="title">Wifi scan</span>
                </a>
              </li>
              <li class="">
                <a href="client.html">
                  <span class="glyphicon glyphicon-user icon"> </span><span class="title">Clients scan</span>
                </a>
              </li>
              <li class="">
                <a href="pingtest.html">
                  <span class="icon fa fa-server"></span><span class="title">Ping testing</span>
                </a>
              </li>
              <li class="active">
                <a href="environment.html">
                  <span class="icon fa fa-home"></span><span class="title">Room Monitoring</span>
                </a>
              </li>
              <li class="">
                <a href="">
                  <span class="icon fa fa-bell-o"></span><span class="title">Alarm System</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container-fluid">
        <div class="side-body padding-top">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">
                    <div class="title">OpenWrt Node 1</div>
                  </div>
                </div>
                <div class="card-body">
                  <!-- icon list -->
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="row">
                        <div class="col-xs-12">
                          <!-- <a href="#"> -->
                            <div class="card summary-inline">
                              <div class="card-body">
                                <img src="../img/temp.svg" style="width:20%; height:auto; color:white;">
                                <!-- <span class="icon glyphicon glyphicon-fire fa-3x"></span> -->
                                <div class="content">
                                  <div class="title" id="LinkIt-2-temperature"></div>
                                  <div class="sub-title" style="font-size:2em" id="LinkIt-2-temperature-sub" onclick="chart('LinkIt-2-temperature')">Show History</div>
                                </div>
                                <div class="clear-both"></div>
                              </div>
                            </div>
                          <!-- </a> -->
                        </div>
                      </div>
                      <div class="row visible-xs" style="display:none;">
                        <div class="col-xs-12">
                          <div id="LinkIt-2-temperature" style="margin: auto;"></div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="row">
                        <div class="col-xs-12">
                          <!-- <a href="#"> -->
                            <div class="card blue summary-inline">
                              <div class="card-body">
                                <i class="icon fa fa-tint fa-4x"></i>
                                <div class="content">
                                  <div class="title" id="LinkIt-2-humidity"></div>
                                  <div class="sub-title" style="font-size:2em" id="LinkIt-2-humidity-sub" onclick="chart('LinkIt-2-humidity')">Show History</div>
                                </div>
                                <div class="clear-both"></div>
                              </div>
                            </div>
                          <!-- </a> -->
                        </div>
                      </div>
                      <div class="row visible-xs" style="display:none;">
                        <div class="col-xs-12">
                          <div id="LinkIt-2-humidity" style="margin: auto;"></div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="row">
                        <div class="col-xs-12">
                          <!-- <a href="#"> -->
                            <div class="card yellow summary-inline">
                              <div class="card-body">
                                <!-- <i class="icon fa fa-tint fa-4x"></i> -->
                                <i class="material-icons" style="font-size:3.5em;">wb_incandescent</i>
                                <div class="content">
                                  <div class="title" id="LinkIt-2-light"></div>
                                  <div class="sub-title" style="font-size:2em" id="LinkIt-2-light-sub" onclick="chart('LinkIt-2-light')">Show History</div>
                                </div>
                                <div class="clear-both"></div>
                              </div>
                            </div>
                          <!-- </a> -->
                        </div>
                      </div>
                      <div class="row visible-xs" style="display:none;">
                        <div class="col-xs-12">
                          <div id="LinkIt-2-light" style="margin: auto;"></div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                      <div class="row">
                        <div class="col-xs-12">
                          <!-- <a href="#"> -->
                            <div class="card green summary-inline">
                              <div class="card-body">
                                <!-- <i class="icon fa fa-tint fa-4x"></i> 	glyphicon glyphicon-dashboard-->
                                <!-- <i class="material-icons" style="font-size:3.5em;">wb_incandescent</i> -->
                                <span class="icon glyphicon glyphicon-dashboard" style="font-size:4em;"></span>
                                <div class="content">
                                  <div class="title" id="LinkIt-2-pressure" style="font-size:2.5em;"></div>
                                  <div class="sub-title" style="font-size:2.25em" id="LinkIt-2-pressure-sub" onclick="chart('LinkIt-2-pressure')">Show History</div>
                                  <!-- <br/>  -->
                                </div>
                                <div class="clear-both"></div>
                              </div>
                            </div>
                          <!-- </a> -->
                        </div>
                      </div>
                      <div class="row visible-xs" style="display:none;">
                        <div class="col-xs-12">
                          <div id="LinkIt-2-pressure" style="margin: auto;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- chart list -->
                  <div class="row hidden-xs" style="display:none;">
                      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-sm-6 col-xs-12">
                        <div id="chart-main" style="margin: auto;"></div>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="app-footer">
    <div class="wrapper">
      <span class="pull-right"><a href=""><i class="fa fa-long-arrow-up"></i></a></span> © 2016 ESL@KMUTNB.
    </div>
  </footer>
  <!-- Javascript Libs -->
  <!-- ๋ฆ App -->
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/Chart.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.matchHeight-min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/select2.full.min.js" type="text/javascript"></script>
  <!-- Javascript -->
  <!--<script type="text/javascript" src="../../js/app.js"></script>-->
  <script src="../flat-admin-bootstrap-templates-master/js/app.js" type="text/javascript"></script>
  <!--<script type="text/javascript" src="../../js/index.js"></script>-->
  <script src="../flat-admin-bootstrap-templates-master/js/index.js" type="text/javascript"></script>
  <!-- chart lib -->
  <script src="../chart/Highcharts-4.2.1/js/highcharts.js" type="text/javascript"></script>
  <script src="../chart/Highcharts-4.2.1/js/modules/exporting.js" type="text/javascript"></script>
</body>

</html>
