<!DOCTYPE html>
<html>

<head>
  <title>Monitoring System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <!-- CSS Libs -->
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/animate.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/checkbox3.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/select2.min.css" rel="stylesheet" type="text/css"/>
  <!-- CSS App -->
  <!--<link rel="stylesheet" type="text/css" href="../../css/style.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/style.css" rel="stylesheet" type="text/css"/>
  <!--<link rel="stylesheet" type="text/css" href="../../css/themes/flat-blue.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/themes/flat-blue.css" rel="stylesheet" type="text/css"/>
  <script src="../jquery-1.8.3.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    // var numNode = 1;
    var listNode = ['esl-openwrt'];
    var jsonPingLink = "http://192.168.106.17:8080/output/dm13yy2OX9UDgK6wMQNZT0JOZ4Ao.json?limit=600";
    var mainTitle = ['Ping testing : OpenWrt Node 1'];
    var data;
    var period = 24*60*60*1000;
    var list_graph = [['31.13.95.36', '8.8.8.8', '202.44.32.119', '202.44.32.118', '202.44.37.51', '192.168.10.254']];
    // var list_graph = [['192.168.10.254', '202.44.37.51', '202.44.32.118', '202.44.32.119', '8.8.8.8', '31.13.95.36']];
    var data_x = [[]];
    var data_avg = [[]];
    // var data_ranges = [[[]]];
    // var data_avg = [];
    // var data_range = [[[]]];
    var chart = [];
    $(function () {
      $('#ping1').highcharts({
        title: {
          text: mainTitle[0]
        },
        xAxis: {
          title: {
            text: "Time"
          }
        },
        yAxis: {
          title: {
            text: "RTT(ms)"
          }
        },
        tooltip: {
        },
        legend: {
        },
        series: [{
          name: 'Facebook',
          // data:[]
          // data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
          name: 'Google',
          // data:[]
          // data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
          name: 'KMUTNB Klogic',
          // data:[]
          // data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
          name: 'ICIT KMUTNB Gateway',
          // data:[]
          // data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }, {
          name: 'Eng KMUTNB',
          // data:[]
          // data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }, {
          name: 'Eng Gateway',
          // data:[]
          // data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
      });
    });

    function draw(){
      var startHour = [];
      for(var i = 0; i < listNode.length; i++){
        var idChart = "#ping"+(i+1);
        chart [i] = $(idChart).highcharts();
        var count = 0;
        var temp_data_avg = [];
        startHour[i] = 0;
        for(var j = data.length - 1; j >= 0; j--){
          if(data[j].dev_id === listNode[i]){
            var date = new Date(Date.UTC(data[j].timestamp.substr(0, 4), parseInt(data[j].timestamp.substr(5, 2)) - 1, data[j].timestamp.substr(8, 2), data[j].timestamp.substr(11, 2), data[j].timestamp.substr(14, 2), data[j].timestamp.substr(17, 2)));
            if(startHour[i] === 0){
              startHour[i] = date.getTime();
            }
            if (date.getTime() - startHour[i] >= 0 && date.getTime() - startHour[i] <= period) {
              var chartIndex = list_graph[i].indexOf(data[j].target);
              if (temp_data_avg[chartIndex] === undefined) {
                temp_data_avg[chartIndex] = [];
              }
              temp_data_avg[chartIndex][count] = parseFloat(data[j].rtt_avg);

              if (chartIndex === 0) {
                data_x[i][count] = date.getDate() + '-' + (date.getMonth() + 1) + '/' + date.getHours() + ':' + date.getMinutes();
                count++;
              }
            }
          }
        }
        for(var j = 0; j < list_graph[i].length; j++){
          data_avg[i][j] = temp_data_avg[j];
        }
        console.log(data_avg[i]);
        chart[i].xAxis[0].setCategories(data_x[i]);
        for(var j = 0; j < list_graph[i].length; j++){
          // console.log(data_avg[i][j]);
          chart[i].series[j].setData(data_avg[i][j]);
        }
        chart[i].hideLoading();
      }
    }

    function update(){
      for(var i = 0; i < listNode.length; i++){
        var chartId = "#ping"+(i+1);
        chart[i] = $(chartId).highcharts();
        // console.log(chart[i].series.data);
        if(chart[i].series[0].data.length === 0){
          chart[i].showLoading();
        }
      }
      $.getJSON(jsonPingLink, {})
      .done(function (json) {
        data = json;
        draw();
      });
    }

    setInterval(update, 60000);
  </script>
</head>

<body class="flat-blue" onload="update()">
  <div class="app-container">
    <div class="row content-container">
      <nav class="navbar navbar-default navbar-fixed-top navbar-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
              <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
              <li class="active">Ping Testing</li>
            </ol>
          </div>
        </div>
      </nav>
      <div class="side-menu sidebar-inverse">
        <nav class="navbar navbar-default" role="navigation">
          <div class="side-menu-container">
            <div class="navbar-header">
              <a class="navbar-brand" href="../#">
                <div class="icon fa fa-television"></div>
                <div class="title">Monitoring System</div>
              </a>
              <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
              </button>
            </div>
            <ul class="nav navbar-nav">
              <li class="">
                <a href="index.html">
                  <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                </a>
              </li>
              <li class="">
                <a href="wifiscan.html">
                  <span class="icon fa fa-wifi"></span><span class="title">Wifi scan</span>
                </a>
              </li>
              <li class="">
                <a href="client.html">
                  <span class="glyphicon glyphicon-user icon"> </span><span class="title">Clients scan</span>
                </a>
              </li>
              <li class="active">
                <a href="pingtest.html">
                  <span class="icon fa fa-server"></span><span class="title">Ping testing</span>
                </a>
              </li>
              <li class="">
                <a href="environment.html">
                  <span class="icon fa fa-home"></span><span class="title">Room Monitoring </span>
                </a>
              </li>
              <li class="">
                <a href="">
                  <span class="icon fa fa-bell-o"></span><span class="title">Alarm System</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Main Content -->
      <div class="container-fluid">
        <div class="side-body padding-top">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="ping1" style="margin: auto;"></div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div id="wifi2" style="margin: auto;"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="app-footer">
  <div class="wrapper">
    <span class="pull-right"><a href="../#"><i class="fa fa-long-arrow-up"></i></a></span> © 2016 ESL@KMUTNB.
  </div>
</footer>
<!-- Javascript Libs -->
<!-- ๋ฆ App -->
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/Chart.min.js" type="text/javascript"></script>
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.min.js" type="text/javascript"></script>
<script src="../flat-admin-bootstrap-templates-master/dist/lib/js/select2.full.min.js" type="text/javascript"></script>
<!-- Javascript -->
<!--<script type="text/javascript" src="../../js/app.js"></script>-->
<script src="../flat-admin-bootstrap-templates-master/js/app.js" type="text/javascript"></script>
<!--<script type="text/javascript" src="../../js/index.js"></script>-->
<script src="../flat-admin-bootstrap-templates-master/js/index.js" type="text/javascript"></script>
<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<!-- chart lib -->
<script src="../chart/Highcharts-4.2.1/js/highcharts.js" type="text/javascript"></script>
<script src="../chart/Highcharts-4.2.1/js/modules/exporting.js" type="text/javascript"></script>
</body>

</html>
