<!DOCTYPE html>
<html>

<head>
  <title>Monitoring System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <!-- CSS Libs -->
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/animate.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/checkbox3.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
  <link href="../flat-admin-bootstrap-templates-master/dist/lib/css/select2.min.css" rel="stylesheet" type="text/css"/>
  <!-- CSS App -->
  <!--<link rel="stylesheet" type="text/css" href="../../css/style.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/style.css" rel="stylesheet" type="text/css"/>
  <!--<link rel="stylesheet" type="text/css" href="../../css/themes/flat-blue.css">-->
  <link href="../flat-admin-bootstrap-templates-master/css/themes/flat-blue.css" rel="stylesheet" type="text/css"/>
  <script src="../jquery-1.8.3.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  // var jsonWifiLink = "http://192.168.106.17:8080/output/q31LyMJdKrSlB2PVWNrPCB94a1dJ.json?gt[timestamp]=now%3600-1hour";   // json data link
  var jsonWifiLink = "http://192.168.106.17:8080/output/q31LyMJdKrSlB2PVWNrPCB94a1dJ.json?limit=150";
  var current_mac = [];       // for check wifi
  var current_essid = [];     // for show in chart
  var current_rssi = [];      //
  var current_channel = [];
  var current_count2_4GHz;
  var current_hash = [];
  var num_scan = 0;
  var remove_list = [];
  var add_list = [];
  var debug_remove = false;
  var debug_add = false;

  //init chart
  $(function () {
    $('#wifi1').highcharts({
      chart: {
        type: 'areaspline'
      },
      title: {
        text: 'Wifi Scanner : OpenWrt Node 1'
      },
      xAxis: {
        title: {
          text: 'Channel'
        },
        categories: ['-1', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14']
      },
      yAxis: {
        title: {
          text: 'RSSI'
        }
      },
      tooltip: {
        pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
      },
      plotOptions: {
        areaspline: {
          marker: {
            enabled: false,
            radius: 4,
          },
          fillOpacity: 0.5
        }
      },
      series: []
    });
  });

  // json read data and add series
  // function readJSONData(){
  $.getJSON("http://192.168.106.17:8080/output/q31LyMJdKrSlB2PVWNrPCB94a1dJ.json?limit=50", {})
  .done(function (json) {
    // var chart = $('#wifi1').highcharts();
    var minTrick = 0;
    var count2_4GHz = 0;
    var dataRSSI = [];
    for (var i = 0; i < json.length; i++) {
      if(json[i].dev_id === "90:A2:DA:F0:0A:B0"){
        if (json[i].frequency.substr(0, json[i].frequency.indexOf(" ")) < 3.0) {
          // get min time form time stamp
          if (minTrick === 0) {
            minTrick = json[i].timestamp.substr(json[i].timestamp.indexOf("T") + 4, 2);
          }
          if (json[i].timestamp.substr(json[i].timestamp.indexOf("T") + 4, 2) - minTrick >= 0 &&
          json[i].timestamp.substr(json[i].timestamp.indexOf("T") + 4, 2) - minTrick < 10 ) {
            count2_4GHz++;
            current_channel.push(parseInt(json[i].channel) + 1);
            current_essid.push(json[i].essid);
            current_rssi.push(parseInt(json[i].rssi.substr(0, json[i].rssi.indexOf(" "))));
            current_mac.push(json[i].mac);
            current_hash.push(num_scan);
          }
        }
      }
    }
    current_count2_4GHz = count2_4GHz;
    drawChart();
  });
  // }

  function drawChart(){
    var chart = $('#wifi1').highcharts();
    for(var i=0; i<current_count2_4GHz; i++){
      var dataRSSI = [];
      // var pointChannel = parseInt(json[i].channel) + 1;
      var pointChannel = current_channel[i];
      for (var j = 0; j < pointChannel - 2; j++) {
        dataRSSI[j] = null;
      }
      dataRSSI[pointChannel - 2] = 0;
      dataRSSI[pointChannel - 1] = (100 + current_rssi[i]) / 4 * 3;
      dataRSSI[pointChannel] = 100 + current_rssi[i];
      dataRSSI[pointChannel + 1] = (100 + current_rssi[i]) / 4 * 3;
      dataRSSI[pointChannel + 2] = 0;
      chart.addSeries({
        name: current_essid[i],
        data: dataRSSI
      });
      dataRSSI = [];
    }
  }

  function checkdata(){
    var chart = $('#wifi1').highcharts();
    $.getJSON(jsonWifiLink, {})
    .done(function (json) {
      num_scan++;
      var minTrick = 0;
      var count2_4GHz = 0;
      var dataRSSI = [];
      for (var i = 0; i < json.length; i++) {
        if(json[i].dev_id === "90:A2:DA:F0:0A:B0"){
          if (json[i].frequency.substr(0, json[i].frequency.indexOf(" ")) < 3.0) {
            // get min time form time stamp
            if (minTrick === 0) {
              minTrick = json[i].timestamp.substr(json[i].timestamp.indexOf("T") + 4, 2);
            }
            // check length for 1 scan
            if (json[i].timestamp.substr(json[i].timestamp.indexOf("T") + 4, 2) - minTrick >= 0 &&
            json[i].timestamp.substr(json[i].timestamp.indexOf("T") + 4, 2) - minTrick < 5 ) {
              // check has in chart
              if(getIndexMac(json[i].mac) != -1){
                // found device in chart
                // update hash value
                current_hash[getIndexMac(json[i].mac)] = num_scan;

                // check rssi change value
                if(current_rssi[getIndexMac(json[i].mac)] != parseInt(json[i].rssi.substr(0, json[i].rssi.indexOf(" ")))){
                  // update rssi
                  current_rssi[getIndexMac(json[i].mac)] = parseInt(json[i].rssi.substr(0, json[i].rssi.indexOf(" ")));

                  // set point
                  var dataRSSI = [];
                  var pointChannel = current_channel[getIndexMac(json[i].mac)];
                  for (var j = 0; j < pointChannel - 2; j++) {
                    dataRSSI[j] = null;
                  }

                  dataRSSI[pointChannel - 2] = 0;
                  dataRSSI[pointChannel - 1] = (100 + current_rssi[getIndexMac(json[i].mac)]) / 4 * 3;
                  dataRSSI[pointChannel] = 100 + current_rssi[getIndexMac(json[i].mac)];
                  dataRSSI[pointChannel + 1]  = (100 + current_rssi[getIndexMac(json[i].mac)]) / 4 * 3;
                  dataRSSI[pointChannel + 2] = 0;

                  chart.series[getIndexMac(json[i].mac)].setData(dataRSSI);
                } // end if
              }else{
                current_channel.push(parseInt(json[i].channel) + 1);
                current_essid.push(json[i].essid);
                current_rssi.push(parseInt(json[i].rssi.substr(0, json[i].rssi.indexOf(" "))));
                current_mac.push(json[i].mac);
                current_hash.push(num_scan);

                add_list.push(getIndexMac(json[i].mac));
                // console.log(current_essid);
                // var dataRSSI = [];
                // var temp_rssi = current_rssi.pop();
                // // var pointChannel = parseInt(json[i].channel) + 1;
                // var pointChannel = current_channel.pop();
                // for (var j = 0; j < pointChannel - 2; j++) {
                //   dataRSSI[j] = null;
                // }
                // dataRSSI[pointChannel - 2] = 0;
                // dataRSSI[pointChannel - 1] = (100 + temp_rssi) / 4 * 3;
                // dataRSSI[pointChannel] = 100 + temp_rssi;
                // dataRSSI[pointChannel + 1] = (100 + temp_rssi) / 4 * 3;
                // dataRSSI[pointChannel + 2] = 0;
                // chart.addSeries({
                //   name: current_essid.pop(),
                //   data: dataRSSI
                // });
                // current_essid.push(json[i].essid);
                // current_rssi.push(parseInt(json[i].rssi.substr(0, json[i].rssi.indexOf(" "))));
                // current_channel.push(parseInt(json[i].channel) + 1);
                // dataRSSI = [];
                // console.log("after add "+current_essid);
                // for (var i=0; i<current_essid.length; i++)
                //   console.log("index " + i + " name " + chart.series[i].name);
              } // end if
            } // end if
          } // end if
        } // end if
      } // end for
    }); // end read json
    addList(chart);
    // check lost add to remove list
    for (var i = 0; i < current_hash.length; i++) {
      // console.log(current_hash[i]);
      if(current_hash[i] < num_scan-2){
        remove_list.push(i);
      }
    }
    removeLost(chart);
    // console.log(current_essid);
  }

  function addList(chart){
    for(var i = 0; i<add_list.length; i++){
      debug_add = true;
      var index = add_list[i];
      // set point
      var dataRSSI = [];
      var pointChannel = current_channel[index];
      for (var j = 0; j < pointChannel - 2; j++) {
        dataRSSI[j] = null;
      }

      dataRSSI[pointChannel - 2] = 0;
      dataRSSI[pointChannel - 1] = (100 + current_rssi[index]) / 4 * 3;
      dataRSSI[pointChannel] = 100 + current_rssi[index];
      dataRSSI[pointChannel + 1]  = (100 + current_rssi[index]) / 4 * 3;
      dataRSSI[pointChannel + 2] = 0;

      chart.addSeries({
        name: current_essid[index],
        data: dataRSSI
      });
      dataRSSI = [];
    }
    if(debug_add){
      add_list = [];
      debug_add = false;
      console.log("after add " + current_essid);
      for (var i=0; i<current_essid.length; i++)
      console.log("index " + i + " name " + chart.series[i].name);
    }
  }

  function removeLost(chart){
    // var chart = $('#wifi1').highcharts();
    var remove_index;
    while(remove_list.length > 0){
      remove_index = remove_list.pop();
      // console.log("inchart " + chart.series[remove_index].name);
      console.log("invar " + current_essid[remove_index]);
      console.log("remove " + chart.series[remove_index].name);
      chart.series[remove_index].remove();
      current_mac.splice(remove_index, 1);
      current_essid.splice(remove_index, 1);
      current_rssi.splice(remove_index, 1);
      current_channel.splice(remove_index, 1);
      current_hash.splice(remove_index, 1);
      // console.log("after remove " + chart.series[remove_index].name);
      debug_remove = true;
    }
    if(debug_remove){
      debug_remove = false;
      console.log("after remove " + current_essid);
      for (var i=0; i<current_essid.length; i++)
      console.log("index " + i + " name " + chart.series[i].name);
    }
  }

  function getIndexESSID(essid){
    return current_essid.indexOf(essid);
  }

  function getIndexMac(mac){
    return current_mac.indexOf(mac);
  }
  setInterval(checkdata, 24000);
  </script>
</head>

<body class="flat-blue">
  <div class="app-container">
    <div class="row content-container">
      <!--top menu-->
      <nav class="navbar navbar-default navbar-fixed-top navbar-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
              <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
              <li class="active">Wifi Scan</li>
            </ol>
          </div>
        </div>
      </nav>
      <!--slide menu-->
      <div class="side-menu sidebar-inverse">
        <nav class="navbar navbar-default" role="navigation">
          <div class="side-menu-container">
            <div class="navbar-header">
              <a class="navbar-brand" href="../#">
                <div class="icon fa fa-television"></div>
                <div class="title">Monitoring System</div>
              </a>
              <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
              </button>
            </div>
            <ul class="nav navbar-nav">
              <li class="">
                <a href="index.html">
                  <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                </a>
              </li>
              <li class="active">
                <a href="wifiscan.html">
                  <span class="icon fa fa-wifi"></span><span class="title">Wifi scan</span>
                </a>
              </li>
              <li class="">
                <a href="client.html">
                  <span class="glyphicon glyphicon-user icon"> </span><span class="title">Clients scan</span>
                </a>
              </li>
              <li class="">
                <a href="pingtest.html">
                  <span class="icon fa fa-server"></span><span class="title">Ping testing</span>
                </a>
              </li>
              <li class="">
                <a href="environment.html">
                  <span class="icon fa fa-home"></span><span class="title">Room Monitoring </span>
                </a>
              </li>
              <li class="">
                <a href="">
                  <span class="icon fa fa-bell-o"></span><span class="title">Alarm System</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Main Content -->
      <div class="container-fluid">
        <div class="side-body padding-top">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="wifi1" style="margin: auto;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="app-footer">
    <div class="wrapper">
      <span class="pull-right"><a href=""><i class="fa fa-long-arrow-up"></i></a></span> © 2016 ESL@KMUTNB.
    </div>
  </footer>
  <!-- Javascript Libs -->
  <!-- ๋ฆ App -->
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/Chart.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.matchHeight-min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/jquery.min.js" type="text/javascript"></script>
  <script src="../flat-admin-bootstrap-templates-master/dist/lib/js/select2.full.min.js" type="text/javascript"></script>
  <!-- Javascript -->
  <!--<script type="text/javascript" src="../../js/app.js"></script>-->
  <script src="../flat-admin-bootstrap-templates-master/js/app.js" type="text/javascript"></script>
  <!--<script type="text/javascript" src="../../js/index.js"></script>-->
  <script src="../flat-admin-bootstrap-templates-master/js/index.js" type="text/javascript"></script>
  <!-- chart lib -->
  <script src="../chart/Highcharts-4.2.1/js/highcharts.js" type="text/javascript"></script>
  <script src="../chart/Highcharts-4.2.1/js/modules/exporting.js" type="text/javascript"></script>
</body>

</html>
